.post3{
	position:relative;
	height:1050px;
}


.name3{
	position:absolute;
	top:525px;
	left:175px;
	z-indent:2;
	color:#fff;
	font-size:400%;
	font-family:Microsoft YaHei;
}



.cphonenumber3{
	position:absolute;
	top:850px;
	left:100px;
	z-indent:2;
	color:#fff;
	font-size:125%;
	font-family:Microsoft YaHei;
}

.creator3{
	position:absolute;
	top:825px;
	left:100px;
	z-indent:2;
	color:#fff;
	font-size:125%;
	font-family:Microsoft YaHei;
}

.place3{
	position:absolute;
	top:900px;
	right:100px;
	z-indent:2;
	color:#fff;
	font-size:125%;
	font-family:Microsoft YaHei;
}

.sdate3{
	position:absolute;
	top:925px;
	right:100px;
	z-indent:2;
	color:#fff;
	font-size:125%;
	font-family:Microsoft YaHei;
}

.brief3{
	position:absolute;
	top:775px;
	left:100px;
	z-indent:2;
	color:#fff;
	font-size:150%;
	font-family:Microsoft YaHei;
}


